:root{
    --fundo: white;
    --light: #ffffff;
    --texto: black;
    --shadow: #c7d2db;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

/* ------CABEÇALHO------ */
header{
    background-color: white;
    padding-bottom: 50px;
    align-items: center;
    width: 100%;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container img{
    width: 40%;
    height: 40%;
}

.icon{
    align-items: center;
}

.icon1{
    align-items: center;
}

.circle{
    border-radius: 50%;
}


.shadow{
    box-shadow: 6px 6px 10px var(--shadow), -6px -6px 10px var(--light);
}



.inner, .shadow:hover, .shadow:active{
    box-shadow: inset 6px 6px 10px var(--light);
}


.btn{
    height: 25px;
    width: 25px;
    color: black;
    padding: 10px;
}
.btn1{
    height: 25px;
    width: 25px;
    color: black;
    padding: 10px;

}


.input1{
    display: none;
}

.nav{
    display: none;
}

/* ------CABEÇALHO------ */


/* ------RODAPÉ----- */

footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.nav_rodape{
    padding: 1em 2em;
    padding-left: 2em;
}

.nav_rodape ul{
    margin-right: 0em;
}

.nav_rodape li{
    margin-bottom: 0.2em;
    font-size: 0.7em;
    list-style-type: none;
    color: white;
}

.nav_rodape a{
    text-decoration: none;
    color: white;
}

.logo_rodape{
    align-items: center;
    color: white;
    font-size: 0.7em;
    text-align: center;
    margin: 0 0;
}



.logo_rodape img{
    height: 55px;
    width: 155px;
}


.sociais_rodape{
    align-items: center;
    margin: 1em 2em;
    padding-right: 1em;
    /* justify-self: flex-end; */
    margin-left: 25px;
}

.sociais_rodape p{
    color: white;
    text-align: center;
}

/* ------RODAPÉ----- */


h1{
    text-align: center;
    margin-left: px;
    margin-top: 15px;
}

.Usuario{
    width: 400px;
    height: 50px;
    min-height: 200px;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 25px;
    
    display: flex;
}

.Usuario h2{
    margin-left: -1px;
}

.Usuario img{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 21px;
    margin-bottom: 10px;
}

.texto_sobre_usuario{
    display: flex;
    margin-left: 15px;
    margin-top: 15px;
}

.texto{
    margin-left: 15px;
    font-size: 15px;

}


.caixa{
    width: 60px;
    height: 40px;
    padding: 51px;
    margin: 20px;
    background-color: #707070;
    border-radius: 20px;
}

.area1{
    display: flex;
    padding: 0 20px;
    color: white;
}

.area2{
    display: flex;
    padding: 0 15px;
    color: white;
}

.minha_area{
    text-align: center;
    margin-top: 30px;
}
@media(min-width:800px){
    .container{
        display: flex;
        align-items: center;
    }

    .container img{
        width: 25%;
        height: 25%
    }
 
    .shadow{
         box-shadow: none; 
    } 

    .shadow1{
        box-shadow: 6px 6px 10px var(--shadow), -6px -6px 10px var(--light);
    }

    .input1{
        display: flex;
        border: none;
        background-color: white;
    }

    .icon1{
        display: flex;
        align-items: center;
        order: 2;  /* Coloca o icone de pesquisa depois do logo */
        /* width: 35px; */
        border-radius: 2em;
        justify-content: space-around;
    }


    .icon{
        order: 3;
    }

    .btn1{
        /* padding: 10px; */
        margin-left: 0;
    }

    .teste{
        display: flex;
        align-items: center;

    }
    
    .nav{
        display: none;
    }

    /* ------RODAPÉ----- */

    
    .logo_rodape img{
        height: 8em;
        width: 20em;
        /* max-width: 150%;
        max-height: 150%; */
    }

    .sociais_rodape{
        /* margin-left: 255px; */
        justify-self: flex-end;
    }

    .Usuario {
        width: 608px;
        height: 50px;
        min-height: 200px;
        margin: 0 auto;
        border-radius: 20px;
        margin-top: 18px;
        display: flex;
    }

    .Usuario img {
        width: 200px;
        height: 197px;
        border-radius: 20px;
        margin-top: -16px;
        margin-bottom: 10px;
    }

    .Usuario h2 {
        margin-left: 0px;
        font-size: 2em;
    }

    .minha_area {
        text-align: center;
        margin-top: 30px;
        font-size: 2em;
    }
    .area1 {
        display: flex;
    padding: 34px 110px;
    color: white;
    }

    .area2 {
        display: flex;
    padding: 34px 110px;
    color: white;
    }

    .caixa {
        width: 160px;
        height: 90px;
        margin: 13px;
        background-color: #707070;
        border-radius: 20px;
        margin-top: 0px;
        font-size: 2em;
    }
}


@media(min-width:1200px){
    .container img{
        width: 15%;
        height: 15%
    }

    .nav{
        display: flex;
    }

    .nav ul{
        display: flex;
    }

    .nav li{
        margin-right: 3em;
        font-size: 1em;
        list-style-type: none;
    }

    .nav a{
        text-decoration: none;
        color: var(--texto);
    }

    .icon1{
        display: none;
    }

    .icon{
        display: none;
    }

    /* ------RODAPÉ----- */

    /* .nav_rodape ul{
        margin-right: 3em;
    }

    .nav_rodape li{
        margin-top: 0.2em;
        font-size: 1em;
        list-style-type: none;
    }

    .nav_rodape a{
        text-decoration: none;
        color: var(--texto);
    } */

    .logo_rodape img{
        height: 8em;
        width: 20em;
    }

    .sociais_rodape{
        margin-left: 55px;
    }

    .Usuario {
        width: 608px;
        height: 50px;
        min-height: 200px;
        margin: 0 auto;
        border-radius: 20px;
        margin-top: 18px;
        display: flex;
        background-color: red;
        padding: 35px 251px;
    }

    .Usuario img {
        width: 220px;
        height: 210px;
        border-radius: 20px;
        margin-top: -16px;
        margin-bottom: 10px;
        margin-left: -178px;
    }

    .Usuario h2 {
        margin-left: 0px;
        font-size: 3em;
        margin-top: -23px;
    }

    .nome_usuario{
        font-size: 20px;
    }

    .area1 {
        display: flex;
        padding: 34px 310px;
        color: white;
    }

    .area2 {
        display: flex;
        padding: 34px 310px;
        color: white;
    }
}

